.vacationCard {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 15px;
    color: black;
    margin: 5px;
    padding: 5px;

    width: 300px;
    height: 400px;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
        height: 50px;
    }

    img {
        width: 300px;
        height: 200px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.expander {
    display: flex;
    flex-grow: 1;
}